@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ClothMarketApplication.Models.UserProfile

<div style="margin-left:15% ; font-family:'Comic Sans MS'">
    <h1> @ViewBag.Title</h1>
 </div>

<form action="/Account/SignUp" method="post" enctype="multipart/form-data">
   
    <br>
    <div class="form-group">

        <br />
        <div class="row">
            <div class="col-md-2 text-right">
                <h4>UserName </h4>
            </div>
            <div class="col-md-4">

                <input type="text" name="name" placeholder="Username" id="Username" style="color: blue" class="form-control" required>
                <p id="result" style="color:red ;font-family: 'Comic Sans MS'"></p>
            </div>
            <input type="button" value="check" id="b1" class="btn btn-info" />
        </div>

        <br />
        <div class="row">
            <div class="col-md-2 text-right">
                <h4>Email </h4>
            </div>
            <div class="col-md-4">

                <input type="text"  name="email" placeholder="Email" style="color: blue" class="form-control" required>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-2 text-right">
                <h4>Password </h4>
            </div>
            <div class="col-md-4">

                <input type="password" name="password" placeholder="Password" style="color: blue" class="form-control" required>
            </div>
        </div>

        <br />

        <br>
        <div style="margin-left:17% ; font-family:'Comic Sans MS'">
            <input type="file" class="file" name="profilePic" required/>
            <p>(Upload Your Profile Picture)</p>
        </div>
        <br />

        <div class="row">
            <div style="margin-left:17%" class="col-md-3">
                <input type="submit" value="Register" class="btn btn-success" />
            </div>
        </div>
    </div>

    <br>

    @Scripts.Render("~/bundles/jquery")
    <script>

        $(document).ready(function () {

            $('#b1').click(function () {

                var Username = $('#Username').val();

                if (Username.length <= 0) {}

                else {

                    $.getJSON("/Account/CheckUsername?Username=" + Username, function (data) {
                        $('#checking').hide();
                        if (data) {
                            $('#result').text("User already exists in database");

                        }
                        else {

                            $('#result').text("User Name is available");
                        }

                    });
                }
            });

        });
    </script>

    </form>




    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
